[core]
	excludesfile = ~/.gitignore_global
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[advice]
	addIgnoredFile = false
[remote "origin"]
	prune = true
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig_user
